html,
body {
  margin: 0;
  font-family: sans-serif;
}
 
#app {
  width: 100vw;
  height: 100vh;
}
 
body {
  margin: 0;
}
 
html,
body,
#root {
  height: 100%;
}
 
.react-flow__node-mindmap {
  background: #f6ad55;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 5px;
  color: black;
}

.react-flow__node-mindmap:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition */
}
 
.react-flow__handle.target {
  top: 50%;
  left: 50%;
  pointer-events: none;
  background: transparent;
  opacity: 0;
}
 
.react-flow__handle.source {
  top: 50%;
  left: 50%;
  transform: none;
  background: transparent;
  border-radius: 0px;
  border: none;
}
